In [71]:
import pandas as pd
import numpy as np

In [72]:
df=pd.read_csv("try.csv") 
print(df.head(3))

        Image Index          Finding Labels  Follow-up #  Patient ID  \
0  00000001_000.png            Cardiomegaly            0           1
1  00000001_001.png  Cardiomegaly|Emphysema            1           1
2  00000001_002.png   Cardiomegaly|Effusion            2           1

   Patient Age Patient Gender View Position  OriginalImage[Width  Height]  \
0           58              M            PA                 2682     2749
1           58              M            PA                 2894     2729
2           58              M            PA                 2500     2048

   OriginalImagePixelSpacing[x     y]
0                        0.143  0.143
1                        0.143  0.143
2                        0.168  0.168

In [73]:
df.rename(columns={'Image Index':'img_index','Finding Labels':'labels','Follow-up #':'follow_up','Patient ID':'pa_id',
                   'Patient Age':'pa_age','Patient Gender':'pa_gender','View Position':'view_position'}, inplace=True)

Age_below_117 = df['pa_age'] < 117 
df[Age_below_117]
tidy_df=df[Age_below_117]
tidy_df.head()

,img_index,labels,follow_up,pa_id,pa_age,pa_gender,view_position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y]
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,2682,2749,0.143,0.143
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,2894,2729,0.143,0.143
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,2500,2048,0.168,0.168
3,00000002_000.png,No Finding,0,2,81,M,PA,2500,2048,0.171,0.171
4,00000003_000.png,Hernia,0,3,81,F,PA,2582,2991,0.143,0.143

In [74]:
print(tidy_df['pa_age'].max() , tidy_df['pa_age'].min())

84 58

In [75]:
df_agegroup=tidy_df.groupby('pa_age').count().reset_index()
df_agegroup

,pa_age,img_index,labels,follow_up,pa_id,pa_gender,view_position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y]
0,58,3,3,3,3,3,3,3,3,3,3
1,61,1,1,1,1,1,1,1,1,1,1
2,69,5,5,5,5,5,5,5,5,5,5
3,70,5,5,5,5,5,5,5,5,5,5
4,73,2,2,2,2,2,2,2,2,2,2
5,74,1,1,1,1,1,1,1,1,1,1
6,75,10,10,10,10,10,10,10,10,10,10
7,76,2,2,2,2,2,2,2,2,2,2
8,77,1,1,1,1,1,1,1,1,1,1
9,78,1,1,1,1,1,1,1,1,1,1
10,79,1,1,1,1,1,1,1,1,1,1
11,80,1,1,1,1,1,1,1,1,1,1
12,81,3,3,3,3,3,3,3,3,3,3
13,82,2,2,2,2,2,2,2,2,2,2
14,84,1,1,1,1,1,1,1,1,1,1

In [76]:
df_new= df_agegroup.drop(columns=['labels','follow_up','pa_id','pa_gender','view_position','OriginalImage[Width','Height]','OriginalImagePixelSpacing[x','y]'])
df_new.head()

   pa_age  img_index
0      58          3
1      61          1
2      69          5
3      70          5
4      73          2

In [77]:
bins = [55, 65, 75, np.inf]
labels=['55-65','66-75','more than 200']
tidy_df=tidy_df.groupby(pd.cut(tidy_df['pa_age'], bins=bins, labels=labels)).size().reset_index(name='count')
print (tidy_df)
        
#https://stackoverflow.com/questions/48280733/how-to-group-by-list-ranges-of-value-in-python-pandas

          pa_age  count
0          55-65      4
1          66-75     23
2  more than 200     12